<template>
    <div id='app-root'>
        <v-app id="inspire" light>
            <v-navigation-drawer clipped fixed v-model="drawer" app>
                <!-- Menu -->
                <menu-component></menu-component>
            </v-navigation-drawer>
            <v-toolbar app fixed clipped-left>
                <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>MLM</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="onLogin"  icon>
                    <v-icon>lock_open</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn @click="onLogout" left icon>
                    <v-icon>lock_close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-content>
                <v-container fluid fill-height>
                    <v-layout justify>
                        <!-- Router view -->
                        <router-view></router-view>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer app fixed>
                <span>MLM &copy; 2017</span>
            </v-footer>
        </v-app>
        <!-- <menu-component></menu-component>
<router-view></router-view> -->

    </div>
</template>

<script src="./app.ts"></script>