<template>
    <div>
        <h1>Messenger Page</h1>
        <div class="jumbotron">
            <p style="white-space: pre-line;">{{ messageBubble.MessageText }}</p>
            <br>
            <div class="form-group bottom-align">
            </div>
        </div>
    
        <div class="field has-addons">
                <div class="control">
                    <input class="input" v-model="messageBubble.MessageText" type="text" placeholder="Sent a text...">
                </div>
                <div class="control">
                    <a @click="onSend" class="button is-info">
                        <i class="fa fa-send fa-lg"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</template>

<script src="./messenger.ts"></script>