@using Microsoft.AspNetCore.Identity
@using mlm.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
            <i class="material-icons">face</i>
        </a>
    </li>
    <li>
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
        {
            <!-- form here -->
            <button type="submit" class="btn-flat waves-effect">Log out</button>
        }
    </li>
}
else
{
    <li>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <!-- form here -->
            <button type="submit" class="btn-flat waves-effect">Register</button>
        }
        @*            <a asp-area="" class="nav-link" asp-controller="Account" asp-action="Register">Register</a>*@
    </li>
    <li>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <!-- form here -->
            <button type="submit" class="btn-flat waves-effect">Log in</button>
        }
        @*            <a asp-area="" class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">Log in</a>*@
    </li>
}