@model mlm.Models.SearchViewModel.SearchUserViewModel
<section>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                Add as friend
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @using (Html.BeginForm("AddFriend", "Friends", FormMethod.Post))
                    {
@*                        @Html.Hidden("", item.Email)*@
                        <button asp-controller="Friends" asp-action="AddFriend" asp-route-item="@item.Email"
                                class="btn-floating waves-effect waves-light green">
                            <i class="material-icons">add</i>
                        </button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>