<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
        <i class="material-icons">search</i>
    </a>
    <ul>
        <li>
            <a class="form-control mr-sm-2">
            @using (Html.BeginForm("SearchUser", "Search", FormMethod.Get))
            {
                <!-- form here -->
                <input name="searchString" type="text" placeholder="Search users...">
            }
            </a>
        </li>
    </ul>
</div>