<template>
    <div>
        <v-card-text>
            <v-container fluid>
                <h1>Weather forecast</h1>

                <p>This component demonstrates fetching data from the server.</p>

                <table v-if="forecasts.length" class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temp. (C)</th>
                            <th>Temp. (F)</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in forecasts">
                            <td>{{ item.dateFormatted }}</td>
                            <td>{{ item.temperatureC }}</td>
                            <td>{{ item.temperatureF }}</td>
                            <td>{{ item.summary }}</td>
                        </tr>
                    </tbody>
                </table>

                <p v-else>
                    <em>Loading...</em>
                </p>

            <v-layout row>
                <v-flex xs4>
                    <v-subheader class="grey--text text--lighten-1">Send Message</v-subheader>
                </v-flex>
                <v-flex xs8>
                    <v-text-field name="input-1-3" label="Write here..." single-line light></v-text-field>
                </v-flex>
            </v-layout>
            </v-container>
        </v-card-text>
    </div>
</template>

<script src="./fetchdata.ts"></script>