@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context;
@using mlm.Data
@model mlm.Models.SearchViewModel.SearchUserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<header >
    <div class="container no-pad-bot">
        <h1>Welcome to MLM</h1>
    </div>
</header>