@{
    ViewData["Title"] = "Message";
}

<h2>Messages</h2>

<div id="chat">
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message"/>
        <input type="submit" id="send" value="Send"/>
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>
<script src="~/js/jquery.js"></script>
<script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>

<script language="javascript" type="text/javascript">

    let transport = signalR.TransportType.WebSockets;
    let connection = new signalR.HubConnection(`http://${document.location.host}/chat`, { transport: transport });

    $(document).ready(function() {
        $( "#message" ).focus();

        $("#frm-send-message").submit(function() {
            var msg = $('#message').val();

            $.post("http://localhost:5000/api/chat/send/" + msg,
                function(data) {
                    console.log(data);
                });
        $("#frm-send-message").trigger("reset");
        });
        

    });

    connection.on('Send',
        (message) => {
            var liElement = document.createElement('li');
            liElement.innerHTML = message;
            document.getElementById('messages').appendChild(liElement);
        });

    connection.start();

</script>