@{
    ViewData["Title"] = "Message";
}

<h2>Messages</h2>

<div id="chat">
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message"/>
        <input type="submit" id="send" value="Send"/>
    </form>
    <div class="clear">
    </div>
    <ul id="postsList"></ul>

    <ul id="messages"></ul>
</div>
<script src="~/js/jquery.js"></script>
<script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>

<script language="javascript" type="text/javascript">

    let transport = signalR.TransportType.WebSockets;
    let connection = new signalR.HubConnection(`http://${document.location.host}/chat`, { transport: transport });

    $(document).ready(function() {
//        TODO: Query all the table and every user's messages

//        $.ajax({
//            url: "http://localhost:5000/api/chat/get",
//            method: 'GET',
//            dataType: 'JSON',
//            success: addPostsList
//        });

        $("#message").focus(); //    focuses on the text form

        $("#frm-send-message").submit(function() {
            var msg = $('#message').val();

            $.post("http://localhost:5000/api/chat/send/" + msg,
                function(data) {
                    addPost(data);
//                    addPostsList(data);
                    console.log(data);
                });

            $("#frm-send-message").trigger("reset"); // ressets the form

        });

        function addPost(post) {
            console.log('New post from server: ', post);
            $("#messages")
                .append('<li>' +
                    post.author +
                    ': ' +
                    post.content +
                    " Translated: " +
                    post.contentTranslated +
                    '</li>');
        }

        connection.on('Send',
            (message) => {
                $.each(message,
                    function(index) {
                        var post = message[index];
                        addPost(message);
                    });
            });
    });


    connection.start();

</script>